# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# IDEs
.idea/
.vscode/

# Agent generate logs / configs
.system_generated/
.gemini/
